/*Dustin Shaw CMIS-3150-300 */

USE [master]
GO

DROP DATABASE [s_dcshaw]
GO

CREATE DATABASE [s_dcshaw]
 ON  PRIMARY ( NAME = N's_dcshaw', 
			FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\s_dcshaw.mdf' , 
			SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON ( NAME = N's_dcshaw_log', 
		FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\s_dcshaw_log.ldf' , 
		SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

USE s_dcshaw

GO


CREATE TABLE PERSON
	(PERSON_ID		SMALLINT,
	FNAME			VARCHAR(20),
	LNAME			VARCHAR(20),
	STREET			VARCHAR(20),
	CITY			VARCHAR(20),
	STATE			VARCHAR(2), /*Should not have used STATE as a field name because it's a reserved word but im not sure how to fix it at the moment as the table was already created*/
	ZIP				VARCHAR(5),
	PHONE			VARCHAR(10),
	CUSTOMER		CHAR(1),
	EMPLOYEE		CHAR(1),
	RECIPIENT		CHAR(1),
	CONSTRAINT PERSON_PK PRIMARY KEY (PERSON_ID),

	);

	/*Alter statements for the PERSON table to add constraints to the values*/
	ALTER TABLE PERSON
	ADD CHECK (CUSTOMER = 'Y' OR EMPLOYEE = 'Y' OR RECIPIENT = 'Y');

	/*Inserting information into the PERSON TABLE*/

	/*Customer Type Insertion*/
	INSERT INTO PERSON
	(PERSON_ID,FNAME,LNAME,STREET, CITY, STATE, ZIP, PHONE, CUSTOMER, EMPLOYEE, RECIPIENT)

	VALUES(11, 'JOHN', 'SMITH', 'ROCHESTER','BALTIMORE','MD', '24356', '9283746519', 'Y', 'N','N');

	INSERT INTO PERSON
	(PERSON_ID,FNAME,LNAME,STREET, CITY, STATE, ZIP, PHONE, CUSTOMER, EMPLOYEE, RECIPIENT)
	VALUES(12, 'PHYLLIS', 'JORGENSON', 'ELK', 'SMITHPORT', 'OH','14578', '4563827917', 'Y', 'N', 'N');

	/*Employee Type Insertion*/
	INSERT INTO PERSON
	(PERSON_ID,FNAME,LNAME,STREET, CITY, STATE, ZIP, PHONE, CUSTOMER, EMPLOYEE, RECIPIENT)
	VALUES(21, 'JOANNE', 'MONTGOMERY', 'RT 208', 'CLARION', 'PA','15465', '1247854685', 'N', 'Y', 'N' );




	/*Recipient Type Insertion*/


	/*All Three Type Insertion*/

	/*INSERTING A PERSON THAT IS NO PERSON TYPE TO SEE WHAT HAPPENS*/
	/*INSERT INTO PERSON
	(PERSON_ID,FNAME,LNAME,STREET, CITY, STATE, ZIP, PHONE, CUSTOMER, EMPLOYEE, RECIPIENT)
	VALUES(51, 'HUGO', 'MARTINEZ', 'TAFT', 'ROANOKE', 'VA', '34567', '984352105', 'N', 'N', 'N')*/
	/*Test completed successfully, statement conflicted with check constraint as intended*/
	



/*The Customer and Recipient Tables Section */
CREATE TABLE CUSTOMER 
	(CUST_ID		SMALLINT,
	 CREDIT_CARD	VARCHAR(12),
	 ORDERS_PLACED  SMALLINT DEFAULT 0,
	 MONEY_SPENT	DECIMAL(19,4) DEFAULT 0, /*Stack Overflow said Decimal(19,4) is more accurate than using the money datatype, so I went with it*/ 

	 CONSTRAINT CUSTOMER_PK PRIMARY KEY (CUST_ID),
	 CONSTRAINT CUSTOMER_PERSON_FK FOREIGN KEY (CUST_ID) REFERENCES PERSON
	);

/*INSERTS FOR THE CUSTOMER TABLE*/
INSERT INTO CUSTOMER (CUST_ID,CREDIT_CARD,ORDERS_PLACED,MONEY_SPENT)
VALUES(11,'584930583020', 1, 56.41);

INSERT INTO CUSTOMER (CUST_ID,CREDIT_CARD,ORDERS_PLACED,MONEY_SPENT)
VALUES(12,'483749273645', 1, 67.45);



/*Recipient Table Section*/
CREATE TABLE RECIPIENT /*must have at least one matching delivery*/
	(RECIPIENT_ID			SMALLINT,

	 CONSTRAINT RECIPIENT_PK PRIMARY KEY (RECIPIENT_ID),
	 CONSTRAINT RECIPIENT_PERSON_FK FOREIGN KEY (RECIPIENT_ID) REFERENCES PERSON
	);

INSERT INTO RECIPIENT(RECIPIENT_ID)
VALUES(31);

INSERT INTO RECIPIENT(RECIPIENT_ID)
VALUES(32);

/*Employee Tables Section */
CREATE TABLE EMPLOYEE
	(EMPID			SMALLINT,
	 SSN			BIGINT		NOT NULL,
	 VACATION_USED  SMALLINT DEFAULT 0,
	 DATE_HIRED		DATE,
	 HOURLY_RATE	DECIMAL(12,2),
	 EMPLOYEE_TYPE	CHAR(1),

	CONSTRAINT EMPLOYEE_PK PRIMARY KEY (EMPID),
	CONSTRAINT EMPLOYEE_FK FOREIGN KEY (EMPID) REFERENCES PERSON
	);

	/*Alter statements for employees to add constraints to the values of the columns*/
	ALTER TABLE EMPLOYEE
	ADD CHECK (VACATION_USED <= 10);

	ALTER TABLE EMPLOYEE
	ADD CHECK (EMPLOYEE_TYPE = 'D' OR EMPLOYEE_TYPE = 'F' OR EMPLOYEE_TYPE = 'C' OR EMPLOYEE_TYPE = 'M')

/*INSERT STATEMENTS FOR THE EMPLOYEES*/
INSERT INTO EMPLOYEE(EMPID, SSN, VACATION_USED, DATE_HIRED, HOURLY_RATE, EMPLOYEE_TYPE)
VALUES(21,4857463859,3, '2021-04-24', 12.50,'F');

INSERT INTO EMPLOYEE(EMPID, SSN, VACATION_USED, DATE_HIRED, HOURLY_RATE, EMPLOYEE_TYPE)
VALUES(22,4857464389,1, '2018-09-24', 18.75,'D');

INSERT INTO EMPLOYEE(EMPID, SSN, VACATION_USED, DATE_HIRED, HOURLY_RATE, EMPLOYEE_TYPE)
VALUES(23,4678124569,0, '2012-02-08', 15.86,'F');




CREATE TABLE DRIVER
	(EMPID			SMALLINT,
	 INSURANCE_CO	VARCHAR(25) NOT NULL, /*MADE THESE INTO CHARACTERS BECAUSE WE'RE NOT DOING MATH WITH THEM, AND IM CERTAIN SOME POLICIES NUMBERS WILL HAVE LETTERS IN THEM*/
	 POLICY_NO		VARCHAR(25)	NOT NULL,
	 LICENSE_NO		VARCHAR(25) NOT NULL,
	 CELL_PHONE		VARCHAR(10) NOT NULL,

	 CONSTRAINT	DRIVER_PK PRIMARY KEY (EMPID),
	 CONSTRAINT DRIVER_EMPLOYEE_FK FOREIGN KEY (EMPID) REFERENCES EMPLOYEE
	);

/*INSERTING DATA INTO THE DRIVER TABLE*/
INSERT INTO DRIVER(EMPID,INSURANCE_CO,POLICY_NO,LICENSE_NO,CELL_PHONE)
VALUES(22, 'WHITE OAK','A164578935','4578126','1546875426' );

INSERT INTO DRIVER(EMPID,INSURANCE_CO,POLICY_NO,LICENSE_NO,CELL_PHONE)
VALUES(24, 'WHITE OAK','A457846541','3568429','1124578451' );


CREATE TABLE FLOWER_DESIGNER
	(EMPID			SMALLINT,
	 CERTIFICATION_NO	INT,

	 CONSTRAINT FLOWER_DESIGNER_PK PRIMARY KEY (EMPID),
	 CONSTRAINT FLOWER_DESIGNER_EMPLOYEE_FK FOREIGN KEY (EMPID) REFERENCES EMPLOYEE
	);

/*INSERTS FOR THE FLOWER_DESIGNER*/
INSERT INTO FLOWER_DESIGNER(EMPID, CERTIFICATION_NO)
VALUES(21, 456);

INSERT INTO FLOWER_DESIGNER(EMPID, CERTIFICATION_NO)
VALUES(23, 654);

/*DESIGNER SPECIALTY TABLE SECTION*/

CREATE TABLE DESIGNER_SPECIALTY
	(EMPID			SMALLINT,
	SPECIALTY		VARCHAR(50)

	CONSTRAINT DESIGNER_SPECIALTY_PK PRIMARY KEY (EMPID, SPECIALTY),
	CONSTRAINT DESIGNER_SPECIALTY_FLOWER_DESIGNER_FK FOREIGN KEY (EMPID) REFERENCES FLOWER_DESIGNER
	);

/*INSERTIONS FOR DESIGNER SPECIALTY TABLE*/

INSERT INTO DESIGNER_SPECIALTY
VALUES(21, 'ROSE PRUNING');
INSERT INTO DESIGNER_SPECIALTY
VALUES(23, 'COMPOST COMPILING');


/*Order Tables Section */
CREATE TABLE ORDERS
	(ORDER_NO		INT,
	CUST_ID			SMALLINT,
	AUTH_CODE		SMALLINT,
	EMP_ID			SMALLINT,
	ACTUAL_PRICE	DECIMAL(19,4),
	PAYMENT_METHOD	VARCHAR(15),
	COST			DECIMAL(19,4),
	SUGGESTED_PRICE DECIMAL(19,4),
	DISCOUNT_RATE	DECIMAL(19,4),
	PROFIT			DECIMAL(19,4),
	ORDER_TYPE		CHAR(1)	NOT NULL,

	CONSTRAINT ORDERS_PK PRIMARY KEY (ORDER_NO),
	CONSTRAINT ORDER_CUSTOMER_FK FOREIGN KEY (CUST_ID) REFERENCES CUSTOMER,
	CONSTRAINT ORDER_EMPLOYEE_FK FOREIGN KEY (EMP_ID) REFERENCES EMPLOYEE
	);

/*Adding check constraints for the orders table */
ALTER TABLE ORDERS
ADD CHECK (PAYMENT_METHOD = 'CASH' OR PAYMENT_METHOD = 'CHECK' OR PAYMENT_METHOD = 'CREDIT CARD');

ALTER TABLE ORDERS
ADD CHECK (ORDER_TYPE = 'L' OR ORDER_TYPE = 'T');

/*Insertion statements for the orders table*/
INSERT INTO ORDERS(ORDER_NO,CUST_ID,AUTH_CODE,EMP_ID,ACTUAL_PRICE,PAYMENT_METHOD,COST,SUGGESTED_PRICE,DISCOUNT_RATE,PROFIT,ORDER_TYPE)
VALUES(123,11,1732,21,23.11,'CREDIT CARD',12.11,21.00,0,11.00,'T');

INSERT INTO ORDERS(ORDER_NO,CUST_ID,AUTH_CODE,EMP_ID,ACTUAL_PRICE,PAYMENT_METHOD,COST,SUGGESTED_PRICE,DISCOUNT_RATE,PROFIT,ORDER_TYPE)
VALUES(321,12,9564,23,23.50,'CREDIT CARD',19.50,21.50,0,4.00,'T');

INSERT INTO ORDERS(ORDER_NO,CUST_ID,AUTH_CODE,EMP_ID,ACTUAL_PRICE,PAYMENT_METHOD,COST,SUGGESTED_PRICE,DISCOUNT_RATE,PROFIT,ORDER_TYPE)
VALUES(456,11,4736,21,15.46,'CASH',9.46,12.00,2.00,6.00,'L');



/*CREATION OF TELEFLORA ORDERS*/
CREATE TABLE TELEFLORA_ORDER
	(ORDER_NO		INT		NOT NULL,
	 FLORIST_ID		SMALLINT,
	 TRANS_REF_NO	INT,

	 CONSTRAINT TELEFLORA_ORDER_PK PRIMARY KEY (ORDER_NO),
	 CONSTRAINT TELEFLORA_ORDER_ORDERS_FK FOREIGN KEY (ORDER_NO) REFERENCES ORDERS
	);

/*INSERT SECTION FOR TELEFLORA ORDERS*/
INSERT INTO TELEFLORA_ORDER (ORDER_NO,FLORIST_ID,TRANS_REF_NO)
VALUES(123, 11, 1732)

INSERT INTO TELEFLORA_ORDER (ORDER_NO,FLORIST_ID,TRANS_REF_NO)
VALUES(321, 12, 9564)


/*LOCAL ORDERS SECTION*/
CREATE TABLE LOCAL_ORDER
	(ORDER_NO		INT,
	 ORDER_STATUS			VARCHAR(10) DEFAULT 'PENDING',

	 CONSTRAINT LOCAL_ORDER_PK PRIMARY KEY (ORDER_NO),
	 CONSTRAINT LOCAL_ORDER_ORDERS_FK FOREIGN KEY (ORDER_NO) REFERENCES ORDERS
		
	);

	ALTER TABLE LOCAL_ORDER
	ADD CHECK (ORDER_STATUS = 'PENDING' OR ORDER_STATUS = 'MADE-UP' OR ORDER_STATUS = 'DELIVERY' OR ORDER_STATUS = 'COMPLETED' OR ORDER_STATUS = 'TRASHED');

/*INSERTION FOR LOCAL ORDERS*/
INSERT INTO LOCAL_ORDER(ORDER_NO,ORDER_STATUS)
VALUES(456, 'MADE-UP');

INSERT INTO LOCAL_ORDER(ORDER_NO,ORDER_STATUS)
VALUES(789, 'DELIVERY');




/*Products Section */
CREATE TABLE CONTAINER
	(
		PRODUCT_ID		SMALLINT,
		MATERIAL		VARCHAR(20),
		QTY_ON_HAND		SMALLINT,
		COST			DECIMAL(19,4),
		CONTAINER_TYPE	VARCHAR(20),

		CONSTRAINT CONTAINER_PK PRIMARY KEY (PRODUCT_ID)
	);

/*Check constraints added to the container table*/
ALTER TABLE CONTAINER
ADD CHECK (CONTAINER_TYPE = 'POT' OR CONTAINER_TYPE = 'VASE' OR CONTAINER_TYPE = 'BOX' OR CONTAINER_TYPE = 'BASKET' OR CONTAINER_TYPE = 'OTHER');

/*INSERT STATEMENTS FOR CONTAINER*/
INSERT INTO CONTAINER(PRODUCT_ID,MATERIAL,QTY_ON_HAND,COST,CONTAINER_TYPE)
VALUES(555,'WOOD',17,5.45,'BASKET');

INSERT INTO CONTAINER(PRODUCT_ID,MATERIAL,QTY_ON_HAND,COST,CONTAINER_TYPE)
VALUES(556,'CLAY',32,8.75,'POT');


CREATE TABLE ARRANGEMENT
	(
	ORDER_NO			INT,
	ARRANGEMENT_NO		INT,
	MESSAGE_CARD		VARCHAR(50),
	EMP_ID				SMALLINT,
	PRODUCT_ID			SMALLINT,

	CONSTRAINT ARRANGEMENT_PK PRIMARY KEY (ORDER_NO, ARRANGEMENT_NO),
	CONSTRAINT ARRANGEMENT_LOCAL_ORDER_FK FOREIGN KEY (ORDER_NO) REFERENCES LOCAL_ORDER,

	CONSTRAINT ARRANGEMENT_FLOWER_DESIGNER_FK FOREIGN KEY (EMP_ID) REFERENCES FLOWER_DESIGNER,
	CONSTRAINT ARRANGEMENT_CONTAINER_FK FOREIGN KEY (PRODUCT_ID) REFERENCES CONTAINER
	);

	/*INSERT STATEMENTS FOR TESTING*/
	INSERT INTO ARRANGEMENT(ORDER_NO,ARRANGEMENT_NO,MESSAGE_CARD,EMP_ID,PRODUCT_ID)
	VALUES(789, 990, 'HOPE YOU HAVE A WONDERFUL DAY', 21, 555)

	INSERT INTO ARRANGEMENT(ORDER_NO,ARRANGEMENT_NO,MESSAGE_CARD,EMP_ID,PRODUCT_ID)
	VALUES(456, 991, 'YOU ARE THE BEST', 23, 555)


/*FLOWER TABLE*/
CREATE TABLE FLOWER
	(SPECIES		VARCHAR(25),
	 COLOR			VARCHAR(10),
	 COST			DECIMAL(19,4),
	 SALES_UNIT		VARCHAR(20),
	 QTY_ON_HAND	SMALLINT,

	 CONSTRAINT FLOWER_PK PRIMARY KEY (SPECIES, COLOR)
	);

	/*INSERT STATEMENTS*/
INSERT INTO FLOWER(SPECIES,COLOR,COST,SALES_UNIT,QTY_ON_HAND)
VALUES('ROSE','PINK',.75,'NONE', 543);

INSERT INTO FLOWER(SPECIES,COLOR,COST,SALES_UNIT,QTY_ON_HAND)
VALUES('DAISY','WHITE',1.00,'NONE', 772);


CREATE TABLE ARRANGEMENT_FLOWERS
	(
		ORDER_NO		INT,
		ARRANGEMENT_NO	INT,
		SPECIES 		VARCHAR(25),
		COLOR			VARCHAR(10),
		QAUNTITY		SMALLINT,

		CONSTRAINT ARRANGEMENT_FLOWERS_PK PRIMARY KEY (ORDER_NO, ARRANGEMENT_NO, SPECIES, COLOR),

		CONSTRAINT ARRANGEMENT_FLOWERS_ARRANGEMENT_FK FOREIGN KEY (ORDER_NO, ARRANGEMENT_NO) REFERENCES ARRANGEMENT,
		CONSTRAINT ARRANGEMENT_FLOWERS_FLOWER_FK FOREIGN KEY (SPECIES, COLOR) REFERENCES FLOWER
	);



CREATE TABLE CATALOG
	(ITEM_NO			SMALLINT,
	 CATALOG_NAME		VARCHAR(15),
	 WHOLESALER_COST	DECIMAL(19,4),
	 RETAIL_COST		DECIMAL(19,4),

	 CONSTRAINT CATALOG_PK PRIMARY KEY (ITEM_NO)
	);

INSERT INTO CATALOG(ITEM_NO,CATALOG_NAME,WHOLESALER_COST,RETAIL_COST)
VALUES(345, 'POSIES', .34, .72);

INSERT INTO CATALOG(ITEM_NO,CATALOG_NAME,WHOLESALER_COST,RETAIL_COST)
VALUES(654,'REYNOLDS', .75, .97);

CREATE TABLE ORDERED_ITEMS
	(ORDER_NO			INT,
	 ITEM_NO			SMALLINT,
	 QUANTITY			SMALLINT,
	 
	 CONSTRAINT ORDER_ITEMS_PK PRIMARY KEY (ORDER_NO, ITEM_NO),

	 CONSTRAINT ORDER_ITEMS_TELEAFLORA_ORDER_FK FOREIGN KEY (ORDER_NO) REFERENCES TELEFLORA_ORDER,
	 CONSTRAINT ORDER_ITEMS_CATALOG_FK FOREIGN KEY (ITEM_NO) REFERENCES CATALOG
	);

INSERT INTO ORDERED_ITEMS(ORDER_NO,ITEM_NO,QUANTITY)
VALUES(123,345, 65);

INSERT INTO ORDERED_ITEMS(ORDER_NO,ITEM_NO,QUANTITY)
VALUES(321, 654, 37);



/*DELIVERY TABLE SECTION*/

CREATE TABLE DELIVERY
	(ORDER_NO			INT,
	 ARRANGEMENT_NO	    INT,
	 RECIPIENT_ID		SMALLINT,
	 EMPID				SMALLINT,
	 SCHED_DATE			DATE,
	 SCHED_TIME			TIME,
	 ACTUAL_DATE		DATE,
	 ACTUAL_TIME		TIME,
	 TIP				DECIMAL(19,4),

	 CONSTRAINT DELIVERY_PK PRIMARY KEY (ORDER_NO, ARRANGEMENT_NO,RECIPIENT_ID,EMPID,SCHED_DATE,SCHED_TIME),
	 
	 CONSTRAINT DELIVERY_ARRANGEMENT_FK FOREIGN KEY (ORDER_NO, ARRANGEMENT_NO) REFERENCES ARRANGEMENT,
	 CONSTRAINT DELIVERY_RECIPIENT_FK FOREIGN KEY(RECIPIENT_ID) REFERENCES RECIPIENT,
	 CONSTRAINT DELIVERY_DRIVER_FK FOREIGN KEY (EMPID) REFERENCES DRIVER

	);

/*INSERTION STATEMENTS FOR THE DELIVERY TABLE*/
INSERT INTO DELIVERY(ORDER_NO,ARRANGEMENT_NO,RECIPIENT_ID,EMPID,SCHED_DATE,SCHED_TIME,ACTUAL_DATE,ACTUAL_TIME,TIP)
VALUES(789, 990, 31, 22, '2023-12-24', '23:00', '2024-01-01','17:00',0.00);

INSERT INTO DELIVERY(ORDER_NO,ARRANGEMENT_NO,RECIPIENT_ID,EMPID,SCHED_DATE,SCHED_TIME,ACTUAL_DATE,ACTUAL_TIME,TIP)
VALUES(456, 991, 32, 24, '2023-11-05', '05:00', '2023-11-02','15:00',100.00);



	